name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/project/awesome_requests 
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools wheel build 
            
      - name: Build package
        run: |
          # Build using PEP 517 backend configured by pyproject.toml
          python -m build slide_examples/demo/bootstrap/ --outdir dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1